*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('bgbut.jpg') no-repeat center center/cover ;
    font-family: 'Cinzel', serif;
}

input{
    height: 25px;
    width: 250px;
}